apiVersion: gremlin.kubedex.com/v1alpha1
kind: Gremlin
metadata:
  name: example-cpu-gremlin
spec:
  type: attack-container
  gremlin: cpu
  length: 60
  cores: 1
  labels:
    app: nginx
  container_filter: "n([a-z])inx"
  restart_on_failure: false
  schedule: "*/1 * * * *"
  config_override:
    team_id: ""
    team_private_key: ""
    team_certificate: ""
    team_secret: ""
    identifier: ""
    client_tags: ""
    config_service: ""
    config_region: ""
    config_public_ip: ""
    config_public_hostname: ""
    config_local_ip: ""
    config_local_hostname: ""
