apiVersion: gremlin.kubedex.com/v1alpha1
kind: Gremlin
metadata:
  name: example-gremlin-shutdown
spec:
  type: attack-container
  gremlin: shutdown
  delay: 60
  reboot: true
  labels:
    app: nginx
  container_filter: "n([a-z])inx"
  restart_on_failure: false
  schedule: "*/1 * * * *"
  impact_percentage: 100
  impact_count: 1
  config_override:
    team_id: ""
    team_private_key: ""
    team_certificate: ""
    team_secret: ""
    identifier: ""
    client_tags: ""
    config_service: ""
    config_region: ""
    config_public_ip: ""
    config_public_hostname: ""
    config_local_ip: ""
    config_local_hostname: ""
