apiVersion: gremlin.kubedex.com/v1alpha1
kind: Gremlin
metadata:
  name: example-dns-gremlin
spec:
  team_id: ""
  type: attack-container
  gremlin: dns
  length: 60
  device: etch0
  ip_address: 192.168.1.1
  ip_protocol: tcp
  labels:
    app: nginx
  container_filter: "n([a-z])inx"
  restart_on_failure: false
  schedule: "*/1 * * * *"
  impact_percentage: 100
  impact_count: 1
  config_override:
    team_id: ""
    team_private_key: ""
    team_certificate: ""
    team_secret: ""
    identifier: ""
    client_tags: ""
    config_service: ""
    config_region: ""
    config_public_ip: ""
    config_public_hostname: ""
    config_local_ip: ""
    config_local_hostname: ""s