apiVersion: gremlin.kubedex.com/v1alpha1
kind: Gremlin
metadata:
  name: example-disk-gremlin
spec:
  team_id: ""
  type: attack-container
  gremlin: disk
  length: 60
  dir: /tmp
  workers: 1
  block_size: 1
  percent: 1
  config_override:
    team_id: ""
    team_private_key: ""
    team_certificate: ""
    team_secret: ""
    identifier: ""
    client_tags: ""
    config_service: ""
    config_region: ""
    config_public_ip: ""
    config_public_hostname: ""
    config_local_ip: ""
    config_local_hostname: ""