apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: gremlins.gremlin.kubedex.com
spec:
  group: gremlin.kubedex.com
  names:
    kind: Gremlin
    listKind: GremlinList
    plural: gremlins
    singular: gremlin
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          type: object
        status:
          type: object
  version: v1alpha1
